In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
def create_document_term_matrix(message_list , vectorizer):
    fit = vectorizer.fit(message_list)
    print(pd.DataFrame(fit.vocabulary_.items()))
    
    ## fit_transform()
    document_term_matrix = vectorizer.transform(message_list)
    return pd.DataFrame(document_term_matrix.toarray(),
                                           columns = vectorizer.get_feature_names())

In [3]:
document = ["My name is Prashanth",
                        "Prashanth is working in Apple Silicon",
                        "Aiming to become a good ML Engineer"]

In [4]:
count_vect = CountVectorizer()

In [5]:
create_document_term_matrix(document, count_vect)

            0   1
0          my   8
1        name   9
2          is   6
3   prashanth  10
4     working  13
5          in   5
6       apple   1
7     silicon  11
8      aiming   0
9          to  12
10     become   2
11       good   4
12         ml   7
13   engineer   3

,aiming,apple,become,engineer,good,in,is,ml,my,name,prashanth,silicon,to,working
0,0,0,0,0,0,0,1,0,1,1,1,0,0,0
1,0,1,0,0,0,1,1,0,0,0,1,1,0,1
2,1,0,1,1,1,0,0,1,0,0,0,0,1,0

In [6]:
print("Features used :\n ",count_vect.get_feature_names())

Features used :
  ['aiming', 'apple', 'become', 'engineer', 'good', 'in', 'is', 'ml', 'my', 'name', 'prashanth', 'silicon', 'to', 'working']