In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('data_sets//titanic.xls' ,usecols = ['pclass' , 'age' , 'fare' , 'survived'])
df.head()

   pclass  survived      age      fare
0       1         1  29.0000  211.3375
1       1         1   0.9167  151.5500
2       1         0   2.0000  151.5500
3       1         0  30.0000  151.5500
4       1         0  25.0000  151.5500

In [3]:
df.isnull().sum()

pclass        0
survived      0
age         263
fare          1
dtype: int64

In [4]:
## filling the NaN values with the median
df['age'].fillna(df.age.median() , inplace=True)
df['fare'].fillna(df.fare.median() , inplace=True)

In [5]:
df.isnull().sum()

pclass      0
survived    0
age         0
fare        0
dtype: int64

In [6]:
x = df[['pclass' , 'age' , 'fare']]
y = df[['survived']]

pd.DataFrame(x).head()

   pclass      age      fare
0       1  29.0000  211.3375
1       1   0.9167  151.5500
2       1   2.0000  151.5500
3       1  30.0000  151.5500
4       1  25.0000  151.5500

In [7]:
pd.DataFrame(y).head()

   survived
0         1
1         1
2         0
3         0
4         0

In [8]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.33,random_state=45)

In [12]:
## Applying Standard Scaler to the independent features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train_scaled  =  scaler.fit_transform(x_train)
x_test_scaled   =  scaler.transform(x_test)

In [13]:
pd.DataFrame(x_train).head()

     pclass   age     fare
768       3  28.0   7.8958
132       1  24.0  79.2000
863       3  28.0   7.8958
595       2  28.0  12.8750
191       1  30.0  45.5000

In [14]:
pd.DataFrame(x_train_scaled).head() ## all the values are between -1 and +1

          0         1         2
0  0.842379 -0.128877 -0.494289
1 -1.540738 -0.443471  0.975121
2  0.842379 -0.128877 -0.494289
3 -0.349180 -0.128877 -0.391680
4 -1.540738  0.028421  0.280644

In [15]:
from sklearn.linear_model import LogisticRegression
classification = LogisticRegression()

classification.fit(x_train_scaled , y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

LogisticRegression()

In [16]:
classification.predict(x_test_scaled)

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0], dtype=int64)

In [17]:
print(" Score : " ,classification.score(x_test_scaled , y_test) * 100)

 Score :  67.36111111111111